.avatar-uploader {
  text-align: center;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.container-publish .ql-editor {
  height: 300px;
}
.container-publish .ql-toolbar.ql-snow {
  padding: 0;
}
.my-image .btn_box {
  width: 150px;
  height: 150px;
  border: 1px dashed #ddd;
}
.my-image .btn_box img {
  width: 100%;
  height: 100%;
  display: block;
}
.my-image .dialog-footer {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.el-dialog__body {
  padding-bottom: 0;
}
